* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 10px 50px;
}

body {
    background-image: url("../pictures/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: Arial, serif;
}

.error {
    color: red;
}

.center {
    text-align: center;
    margin: auto;
    align-content: center;
}

#card-link {
    text-decoration: none;
    color: black;
}

a:not(#card-link){
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.2s;
}

a:hover:not(#card-link) {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
    transition: 0.2s;
}

.file-upload {
    display: grid;
    justify-content: center;
    text-align: left;
    top: 0;
    padding: 5px;
}

.file-upload > div {
    padding: 5px;
}

textarea, #price {
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#price {
    height: 30px;
    width: 100%;
    text-align: center;
}

.file-upload button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.container {
    margin: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    justify-content: center;
}

.card {
    background-image: linear-gradient(to bottom right, white, lightblue);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.edit {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
    width: 100%;
}

.edit button {
    width: max-content;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.files-container{
    padding: 5px;
    width: 300px;
    border-radius: 10px;
}

/*#files-container > div {*/
/*    box-sizing: border-box;*/
/*}*/