* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 10px 50px;
}

body {
    background-image: url("../pictures/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    font-family: Arial, serif;
    overflow: auto;
}

.center {
    text-align: center;
    margin: auto;
    align-content: center;
}

.data-container {
    margin: auto;
    display: grid;
    justify-content: center;
}

input[type="text"],
input[type="number"],
input[type="email"]{
    margin: 1vw 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    float: right;
    display: flex;
    box-shadow: lightblue 5px 5px;
    background-color: white;
}

.data-container form button {
    margin: auto;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.data-container form button:hover {
    box-shadow: lightblue 5px 5px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.rating-card {
    display: inline-grid;
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, white, lightblue);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rating-info {
    padding: 5px;
}

.rating-add {
    display: flex;
    justify-content: center;
}

.rating-add form{
    display: grid;
    width: 50%;
}

.ratings {
    columns: 2;
}
