<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feltöltött fájlok</title>
    <link rel="stylesheet" href="/css/files.css">
</head>
<body>

<main>
    <div class="center back_btn"><a id="back_btn" th:href="@{/}">Vissza</a></div>

    <div>
        <form class="file-upload" th:if="${role} == 'ADMIN'" method="post" enctype="multipart/form-data"
              th:action="@{/upload}">
            <h1 class="center">Tananyag feltöltése</h1>
            <div>
                <label for="file"></label><br>
                <input type="file" id="file" name="file" required>
            </div>
            <div>
                <label for="description">Add meg a tananyag leírását:</label><br>
                <textarea id="description" name="description" rows="4" cols="50" maxlength="250"
                          placeholder="Maximum 250 karakter"></textarea>
            </div>
            <div>
                <label for="price">Add meg a tananyag árát (Ft):</label><br>
                <input type="number" id="price" name="price" required>
            </div>
            <div style="text-align: center">
                <button type="submit">Feltöltés</button>
            </div>
        </form>

        <div class="center error" th:if="${message}">
            <p th:text="${message}"></p>
        </div>
    </div>

    <div class="container">
        <div class="card" th:each="file : ${files}">
            <a id="card-link" th:href="@{/files/{id}(id=${file.id})}">
                <div class="files-container">
                    <h4 style="text-align: center" th:text="${file.name}"></h4>
                    <h3 th:text="${file.price} + 'Ft'"></h3>
                    <p th:text="'Leírás: ' + ${file.description}"
                       style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"></p>
                    <p th:text="'Feltöltő: ' + ${file.uploader.username}"></p>
                </div>
                <div class="edit">
                    <form th:if="${file.uploader.id} == ${user.id}" th:action="@{/files/edit/{id}(id=${file.id})}"
                          method="post">
                        <button>Szerkesztés</button>
                    </form>
                    <form th:if="${file.uploader.id} == ${user.id}" th:action="@{'/files/' + ${file.id}}"
                          onclick="confirmDelete()" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit">Törlés</button>
                    </form>
                    <form th:if="${file.uploader.id} != ${user.id}" th:action="@{'/purchase/' + ${file.id}}" method="post">
                        <button type="submit">Vásárlás</button>
                    </form>
                </div>
            </a>
        </div>
    </div>
</main>


<!--<div class="center">-->
<!--    <h1 class="center" th:if="${role} == 'ADMIN'">Feltöltött fájlok</h1>-->
<!--    <h1 class="center" th:if="${role} == 'USER'">Megvásárolható anyagok</h1>-->
<!--    <table class="center table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Név</th>-->
<!--            <th>Típus</th>-->
<!--            <th>Méret</th>-->
<!--            <th>Ár</th>-->
<!--            <th>Leírás</th>-->
<!--            <th>Feltöltő</th>-->
<!--            &lt;!&ndash;            <th th:if="${role} == 'ADMIN'">Módosítás</th>&ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="file : ${files}">-->
<!--            <td th:text="${file.name}"></td>-->
<!--            <td th:text="${file.type}"></td>-->
<!--            <td th:text="${file.size}"></td>-->
<!--            <td th:text="${file.price}"></td>-->
<!--            <td th:text="${file.description}"></td>-->
<!--            <td th:text="${file.uploader.username}"></td>-->
<!--            <td><a th:if="${file.uploader.id} == ${user.getId()}" th:href="@{/files/edit/{id}(id=${file.id})}">Szerkesztés</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form th:action="@{'/purchase/' + ${file.id}}" method="post">-->
<!--                    <button type="submit">Vásárlás</button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form th:if="${file.uploader.id} == ${user.id}" th:action="@{'/files/' + ${file.id}}" method="post">-->
<!--                    <input type="hidden" name="_method" value="delete"/>-->
<!--                    <button type="submit">Törlés</button>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

</body>
</html>

<!--    <h1>Feltöltött videók</h1>-->
<!--    <table class="table center">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Név</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="video : ${videos}">-->
<!--            <td><a th:href="@{'/videos/play/' + ${video}}" th:text="${video}">Videó</a></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <div th:if="${role} == 'ADMIN'">-->
<!--        <h1>Videó feltöltése</h1>-->
<!--        <form method="post" enctype="multipart/form-data" th:action="@{/upload/video}">-->
<!--            <input type="file" name="file" accept="video/*" required>-->
<!--            <button type="submit">Upload</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <h1>Play Video</h1>-->
<!--    <video width="320" height="240" controls>-->
<!--        <source th:src="@{/videos/play/szakdogaeddig.mp4}" type="video/mp4">-->
<!--        Your browser does not support the video tag.-->
<!--    </video>-->