<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="hu">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <title>Fooldal</title>
</head>
<body>

<nav class="header">
    <h1>Education</h1>

    <p id="logged-in" sec:authorize="isAuthenticated()">Bejelentkezve, mint&nbsp;<span style="font-weight: bold"
            sec:authentication="principal.username"></span></p>

    <div class="nav-links">
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}" id="bejelentkezes">Bejelentkezés</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/registration}" id="regisztracio">Regisztráció</a>

        <div class="dropdown">
            <a class="drop-link nav-link" sec:authorize="isAuthenticated()" th:href="@{/profile}"
               id="profile">Profilom</a>

            <div class="dropdown-content">
                <a th:if="${role} == 'ADMIN'" th:href="@{/files}">Feltöltött tananyagok</a>
                <a th:if="${role} == 'ADMIN'" href="#">Tananyag feltöltése</a>
                <a th:if="${role} == 'USER'" th:href="@{/purchases}">Megvásárolt tananyagok</a>
                <form method="post" th:action="@{/edit/{id}(id=${id})}">
                    <button type="submit">Profil módosítása</button>
                </form>
            </div>
        </div>

        <a class="nav-link" th:if="${role} == 'ADMIN'" sec:authorize="isAuthenticated()" th:href="@{/files}"
           id="fajlok">Fájlok</a>
        <a class="nav-link" th:if="${role} == 'ADMIN'" sec:authorize="isAuthenticated()" th:href="@{/users}"
           id="felhasznalok">Felhasználók</a>
        <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem"
           id="kijelentkezes">Kijelentkezés</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Kijelentkezés"/>
        </form>
    </div>

</nav>

<div class="center" th:if="${message}">
    <p th:text="${message}"></p>
</div>

<div class="flex_container">
    <div class="flex_child">
        <h1 id="hero_text">
            Tanulj <br>
            Bárhol, <br>
            Bármikor
        </h1>
    </div>
    <div id="hero_div_block" class="flex_child">
        <a th:href="@{/files}" id="tananyagok">Tananyagok</a>
    </div>
</div>

</body>
</html>