<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title th:text="${file.getName()}"></title>
</head>
<body>

<main>
    <h1 class="center">Tananyag leírása</h1>
    <div class="center" th:object="${file}">
        <div>
            <p>Fájl neve:</p>
            <p id="name" th:text="*{name}"></p>
        </div>
        <div>
            <p>Fájl típusa:</p>
            <p id="type" th:text="*{type}"></p>
        </div>
        <div>
            <p>Leírás:</p>
            <p id="description" th:text="*{description}"></p>
        </div>
        <div>
            <p>Ár:</p>
            <p id="price" th:text="*{price}"></p>
        </div>
    </div>

    <div class="center error" th:if="${message}">
        <p th:text="${message}"></p>
    </div>

    <h3>Értékelések</h3>
    <ul>
        <li th:each="rating : ${ratings}">
            <strong th:text="${rating.user.username}">Felhasználónév</strong>:
            <span th:text="${rating.score}">Pontszám</span>
            <p th:if="${rating.comment}" th:text="${rating.comment}">Komment</p>
        </li>
    </ul>

    <h3>Értékelés leadása</h3>
    <form th:action="@{/ratings/rate}" method="post">
        <input type="hidden" name="fileId" th:value="${file.id}">
        <label for="score">Pontszám:</label>
        <input type="number" id="score" name="score" min="1" max="5" required>
        <label for="comment">Megjegyzés:</label>
        <textarea id="comment" name="comment" maxlength="250"></textarea>
        <button type="submit">Értékelés beküldése</button>
    </form>
</main>

</body>
</html>
