<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="">
<head>
    <link rel="stylesheet" href="/css/index_css.css" type="text/css">
    <meta charset="UTF-8">
    <title>Profilom</title>
</head>
<body>

<div class="center">
    <h1 class="center">Adataim</h1>
    <h2>Név:</h2>
    <p th:text="${username}">Név</p>
    <h2>Email:</h2>
    <p th:text="${email}">Email</p>
    <h2>Role:</h2>
    <p th:text="${role}">Role</p>

    <form method="post" enctype="multipart/form-data" th:action="@{/edit/{id}(id=${id})}">
        <button type="submit">Módosítás</button>
    </form>

<!--    <a th:href="@{/edit/{id}(id=${id})}">Módosítás</a>-->
</div>

</body>
</html>