<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="hu" class="h-100">
<head>
    <!--<link rel="stylesheet" href="/css/purchases.css" type="text/css">-->
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Vásárlások</title>
</head>
<body class="d-flex flex-column h-100">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<nav th:replace="~{index :: nav}"></nav>

<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div th:if="${files.isEmpty()}"
                 class="alert alert-warning mb-3 w-100 d-flex justify-content-between align-items-center mt-5"
                 role="alert">
                Nincsenek megvásárolt tananyagaid
                <a th:href="@{/files}" class="btn btn-primary"
                   style="background-color: #bb9457; border-color: #bb9457;">
                    Tananyagok böngészése</a>
            </div>
            <div th:each="file : ${files}" class="col mt-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${file.name}"></h5>
                        <p class="card-text" th:text="'Leírás: ' + ${file.description}"
                           style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"></p>
                        <p class="card-text" th:text="'Feltöltő: ' + ${file.uploader.username}"></p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">

                        <form th:action="@{'/files/' + ${file.id}}" method="get">
                            <button class="btn btn-secondary">Részletek</button>
                        </form>
                        <a target="_blank" th:href="@{/download/{id}(id=${file.id})}" class="btn btn-primary">Megtekintés</a>

                        <form th:if="${file.uploader.id} == ${user.getId()}"
                              th:action="@{/files/edit/{id}(id=${file.id})}"
                              method="post">
                            <button type="submit" class="btn btn-warning">Szerkesztés</button>
                        </form>
                        <form th:if="${file.uploader.id} == ${user.id}" th:action="@{'/files/' + ${file.id}}"
                              onclick="confirmDelete()" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="btn btn-danger">Törlés</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{index :: #footer}"></div>

</body>
</html>