<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/registration.css" type="text/css">
  <title>Registration</title>
</head>
<body>

<h1 class="center">Regisztráció</h1>

<div th:if="${error}" class="error center">
  A felhasználónév már létezik.
</div>

<div id="login-container">
  <form th:action="@{/save}" th:object="${user}" method="post">
    <label for="username">Felhasználónév: <input type="text" id="username" th:field="*{username}" required/> </label> <br>
    <span style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>

    <label for="email">Email: <input type="email" id="email" th:field="*{email}" required/> </label> <br>

    <label for="password">Jelszó: <input type="password" id="password" th:field="*{password}" required/>  </label> <br>

    <input type="submit" value="Regisztráció">
  </form>
</div>

<div style="width: 20%; margin: auto">
  <h3 class="center ctrl_btn left"><a th:href="@{/login}">Bejelentkezés</a></h3>
  <h3 class="center ctrl_btn right"><a th:href="@{/}">Vissza</a></h3>
</div>
<div th:replace="index :: #footer"></div>

</body>
</html>
