<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/login_css.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>

<h1 class="center">Felhasználó módosítása</h1>

<form action="#"
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post" class="center">
    <label for="username">Név</label><br>
    <input type="text" th:field="*{username}" id="username" placeholder="Username"><br>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>

    <label for="email">Email</label><br>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"><br>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>

    <input type="submit" value="Adatok módosítása"><br>
</form>

<form action="#"
      th:action="@{/update/password/{id}(id=${user.id})}"
      th:object="${user}"
      method="post" class="center">
    <label for="oldPassword">Régi jelszó</label><br>
    <input type="password" th:field="*{password}" id="oldPassword" placeholder="Old password"><br>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>

    <label for="newPassword">Új jelszó</label><br>
    <input type="password" th:field="*{newPassword}" id="newPassword" placeholder="New password"><br>
    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span><br>

    <input type="submit" value="Jelszó módosítása">
</form>

</body>
</html>
