<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/update-user.css" type="text/css">
    <title>Registration</title>
</head>
<body>

<h1 class="center">Felhasználó módosítása</h1>

<div class="user-container">
    <form th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
        <label for="username">Név: <input type="text" th:field="${user.username}" id="username"
                                          placeholder="Felhasználónév"> </label><br>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>

        <label for="email">Email: <input type="text" th:field="${user.email}" id="email"
                                         placeholder="Email"></label><br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>

        <input type="submit" value="Adatok módosítása"><br>
    </form>
</div>

<div class="password-container">
    <form th:action="@{/update/password/{id}(id=${user.id})}" th:object="${user}" method="post">
        <label for="oldPassword">Jelenlegi jelszó: <input type="password" th:field="*{password}" id="oldPassword"
                                                          placeholder="Old password"> </label><br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>

        <label for="newPassword">Új jelszó: <input type="password" th:field="*{newPassword}" id="newPassword"
                                                   placeholder="New password"></label><br>
        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span><br>

        <input type="submit" value="Jelszó módosítása">
    </form>
</div>

</body>
</html>
