<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index_css.css" type="text/css">
    <title>Adatok</title>
</head>
<body>

<h1 class="center">
    Üdvözöllek <b><span sec:authentication="principal.username"></span></b>
</h1>

<div class="center back_btn"><a id="back_btn" th:href="@{/}">Vissza</a></div>

<table class="center table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Név</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getUsername()}">Név</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getRole()}">Role</td>
        <td><a th:href="@{/edit/{id}(id=${user.id})}">Módosítás</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}" onclick="return confirmDelete()">Törlés</a></td>
    </tr>
    </tbody>
</table>

<script>
    function confirmDelete() {
        return confirm("Biztosan törölni szeretnéd ezt a felhasználót?");
    }
</script>

</body>
</html>
