<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <title>Adatok</title>
</head>
<body>
<div class="center">
    <form th:action="@{/logout}" method="post">
        <h1>
            Üdvözöllek <b><span sec:authentication="principal.username"></span></b>
        </h1>
        <input type="submit" value="Kijelentkezés"/>
    </form>
</div>

<table class="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Név</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getUsername()}">Név</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getRole()}">Role</td>
        <td><a th:href="@{/edit/{id}(id=${user.id})}">Módosítás</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Törlés</a></td>
        <!--
        <td th:if="${user.getUsername() == #authentication.getName()}">
            <a th:href="@{/demo/edit/{id}(id=${user.id})}">Módosítás</a>
        </td>
        -->
    </tr>
    </tbody>
</table>
</body>
</html>
