<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <title>Adatok</title>
</head>
<body>

<h1 class="center">
    Üdvözöllek <b><span sec:authentication="principal.username"></span></b>
</h1>

<div class="center back_btn"><a id="back_btn" th:href="@{/}">Vissza</a></div>

<form th:action="@{/users/search}" method="get">
    <input style="width: 250px" type="search" id="search-input" name="name" placeholder="Keresés felhasználó neve alapján">
    <button id="search-button">Keresés</button>
</form>

<div class="user-container">
    <div class="user-card" th:each="user : ${users}">
        <div class="user-id">ID: <span th:text="${user.getId()}">Id</span></div>
        <div class="user-name">Név: <span th:text="${user.getUsername()}">Név</span></div>
        <div class="user-email">Email: <span th:text="${user.getEmail()}">Email</span></div>
        <div class="user-role">Role: <span th:text="${user.getRole()}">Role</span></div>
        <div class="user-btns">
            <form th:action="@{'/edit/' + ${user.id}}" method="post">
                <button type="submit">Módosítás</button>
            </form>
            <form th:action="@{'/delete/' + ${user.id}}" method="post" onclick="return confirmDelete()">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Törlés</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="index :: #footer"></div>

<script>
    function confirmDelete() {
        return confirm("Biztosan törölni szeretnéd ezt a felhasználót?");
    }
</script>

</body>
</html>
